
<!-- Recorre cada jugador en el array "players" y crea una tarjeta para cada uno -->
<div class="container">
  <div class="row d-flex justify-content-center">
    @for (player of players | async; track player) {
    <div class="col-lg-4">
        <div class="card" #card (click)="toggleCardSize()">
          <!-- Contenedor interno que permite el efecto de volteo 3D -->
          <div class="card-inner">
        
            <!-- Lado frontal de la tarjeta, que muestra la imagen del jugador -->
            <div class="card-front">
              <!-- Imagen del jugador, usando los datos del objeto "player" -->
              <img class="image" [src]=player.image  [alt]="player.name + ' Card'">
              
            </div>
        
            <!-- Lado trasero de la tarjeta, que muestra detalles del jugador -->
            <div class="card-back">
              <!-- Información del jugador -->
              <h3>{{ player.name }}</h3>
              <p>Puntos por partido: {{ player.ppg }}</p>
              <p>Rebotes por partido: {{ player.rpg }}</p>
              <p>Asistencias por partido: {{ player.apg }}</p>
              <p>Altura: {{ player.height }}</p>
              <p>Peso: {{ player.weight }}</p>
              <p>Edad: {{ player.age }}</p>
                 
              <!-- Botón que aparece al agrandar la tarjeta para ver un modal con jugadas destacadas -->
              <button class="button" (click)="openModal()" *ngIf="isCardEnlarged">MEJORES JUGADAS</button>
        
            </div>
          </div>
        </div>
    </div>
      
      }
</div>



<!-- Modal de pantalla completa que muestra jugadas destacadas del jugador -->
<app-fullscreen-modal *ngIf="showModal" (buttonClicked)="closeModal()"></app-fullscreen-modal>