<div class="players">
    <div class="player" *ngFor="let player of players">
        <div class="info">
            <h4>{{player.name}}</h4>
            <h3>{{player.ppg}}</h3>
            <h3>{{player.rpg}}</h3>
            <h3>{{player.apg}}</h3>
            <h3>{{player.age}}</h3>
            <h3>{{player.height}}</h3>
            <h3>{{player.weight}}</h3>
            <h3>{{player.image}}</h3>
            <button class="btn btn-outline-danger" (click)="onClickDelete(player)">Borrar</button>
            
    </div>
</div>